# The wiki is to be removed from the git repository. No updating it.
docs/
# My binaries for ME only
bin/*
bin
./wawacraft-evolved
# I hate backups getting in the repo too
/#*#
/#*
*~
*.o
*.save
# Art is not necessary
tex/art/*
